@import "tailwindcss";

#light-effect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#card-grid {
  display: grid;
  width: inherit;
  gap: 45px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  margin: 50px;

}

@media (max-width: 1100px) {
  #card-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  #card-grid {
    grid-template-columns: 1fr;
  }
}

#item-card {
  background-color: #11171e;
  border-radius: 12px;
  transition: 250ms;
  border: 1px solid #ffffff25;
  padding: 2em;
  cursor: pointer;
}

#item-card:hover {
  background-color: #141c24;
  border-color:  #ffffff40;
}

#static-dot-grid {
  --dot-bg: #18202b;
  --dot-color: #ffffff50;
  --dot-size: 3px;
  --dot-space: 40px;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

#title {
  font-size: 4.5rem;
  font-style: italic;
  @apply font-bold
}

#descr {
  background-color: #ffffff10;
  padding: 0.5px 8px;
  @apply text-gray-500;
}

#circle-glow {
  position: absolute;
  background-color: #ff000078;
  width: 80px;
  height: 170px;
  filter: blur(50px);
}