@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#light-effect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#projects #card-grid {
  display: grid;
  width: inherit;
  gap: 35px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 220px;
  grid-auto-flow: dense;
  padding: 50px 250px 50px 250px;
  justify-content: center;
}

#projects #card-grid > :first-child {
  grid-column: span 2;
}

.item-card {
  background-color: #00000035;
  border-radius: 12px;
  transition: 250ms;
  border: 1px solid #ffffff20;
  padding: 30px;
}

.item-card:hover {
  background-color: #00000055;
  border-color:  #ffffff35;
}