@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#light-effect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#projects #card-grid {
  display: grid;
  width: inherit;
  gap: 35px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px 250px 50px 250px;
  justify-content: center;
}

.item-card {
  background-color: #00000035;
  aspect-ratio: 0.9;
  border-radius: 12px;
  transition: 250ms;
  border: 1px solid #ffffff20;
}

.item-card:hover {
  background-color: #00000055;
}